.cards-outer {
    margin: 1rem;
    height: auto;
    width: 20rem;
    padding: 1rem;
    border: 1px solid transparent;
    transition: 1s;
  }
  
  a{
    text-decoration: none;
  }
  .cards-outer:hover{
    border: 1px solid rgb(216, 216, 216);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .image-box {
    height: 12rem;
    width: 18rem;
    /* border: 1px solid red; */
    border-radius: 20px;
    overflow: hidden;
  }
  .image {
    height: 11.85rem;
    width: 17.85rem;
  }
  .cards-detail {
    margin-top: 0.5rem;
    height: auto;
    width: 18rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    /* border: 1px solid greenyellow; */
  }
  .name-box {
    font-size: 1.1rem;
    color: rgb(77, 77, 77);
    font-weight: 500;
    padding: 0.2rem 0rem;
    /* border: 1px solid rgb(41, 66, 3); */
  }
  
  .cuisine-box {
    font-size: 0.8rem;
    color: rgb(34, 34, 34);
    font-weight: 400;
    padding: 0.5rem 0rem;
    /* border: 1px solid rgb(30, 48, 2); */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  text-transform: capitalize;
  }
  .MRP-box {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-evenly;
    /* border: 1px solid rgb(243, 140, 6); */
    /* border-bottom: 1px solid rgb(219, 217, 217);
    padding: 0.5rem 0rem; */
  
  }
  
  .rating-box {
      font-size: 0.9rem;
      color: rgb(248, 248, 248);
    background-color: rgb(1, 180, 1);
    padding: 0.2rem 0.5rem;
  
  }
  
  .low-rating{
      /* font-size: 0.9rem; */
      /* color: rgb(248, 248, 248); */
    background-color: #DB7C38;
    /* padding: 0.2rem 0.5rem; */
  
  }
  
  .time-box {
      font-size: 0.9rem;
      color: rgb(172, 170, 170);
  }
  
  .Price-box {
      font-size: 0.9rem;
      color: rgb(170, 169, 169);
  }
  
  .offer-and-view-box{
      /* border: 1px solid red; */
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
  
  }
  .offer-box {
      padding: 0.5rem 0rem ;
      font-size: 0.9rem;
      /* border: 1px solid red; */
      color: brown;
  }
  
  .card-view-btn {
      padding: 0.5rem 0rem ;
      border: none;
      background-color: transparent;
      outline: none ;
      font-size: 1.1rem;
      font-weight: 400;
      border-top: 1px solid transparent;
      color: rgb(134, 132, 132);
      /* border: 1px solid red; */
   
      /* transition: 1s; */
  }
  .card-view-btn:hover{
    color: rgb(5, 120, 228);
  
      /* border-top: 1px solid gray; */
  }
  
  .promotedText{
    position: absolute;
    /* border: 1px solid red; */
    margin-top: 2.4rem;
    margin-left: 2rem;
    background-color: #fd4011;
    color: white;
    padding: 0.2rem 0.3rem;
    border-top-left-radius: 11px;
    box-shadow: rgba(0, 0, 0, 0.418) 0px 3px 8px; }