
@media (min-width: 260px){
  .cards-outer {
    margin: 0.5rem 0.2rem;
    width: 14rem;
    padding: 0.2rem;
    /* border: 1px solid red; */
  }
  
  .image-box {
    height: 12rem;
    width: 14rem;
    /* border: 1px solid red; */
  }
  .image {
    height: 11.85rem;
    width: 14rem;
  }


  .cards-detail {
    margin-top: 0.2rem; 
    width: 100%;
    /* border: 1px solid greenyellow; */
  }
  .name-box {
    font-size: 1.1rem;
    padding: 0.1rem 0rem;
    /* border: 1px solid rgb(41, 66, 3); */
  }
  
  .cuisine-box {
    font-size: 0.8rem;
    padding: 0.2rem 0rem;
    /* border: 1px solid rgb(30, 48, 2); */
  }

  
  .promotedText{
    position: absolute;
    margin-top: 0.8rem;
    margin-left: 0.6rem;
}

}
@media (min-width: 320px){
  .cards-outer {
    margin: 0.5rem 0.2rem;
    width: 14rem;
    padding: 0.2rem;
    /* border: 1px solid red; */
  }
  
  .image-box {
    height: 12rem;
    width: 14rem;
    /* border: 1px solid red; */
  }
  .image {
    height: 11.85rem;
    width: 14rem;
  }


  .cards-detail {
    margin-top: 0.2rem; 
    width: 100%;
    /* border: 1px solid greenyellow; */
  }
  .name-box {
    font-size: 1.1rem;
    padding: 0.1rem 0rem;
    /* border: 1px solid rgb(41, 66, 3); */
  }
  
  .cuisine-box {
    font-size: 0.8rem;
    padding: 0.2rem 0rem;
    /* border: 1px solid rgb(30, 48, 2); */
  }

  
  .promotedText{
    position: absolute;
    margin-top: 0.8rem;
    margin-left: 0.6rem;
}

}
@media (min-width: 715px){
  .cards-outer {
    margin: 0.5rem 0.5rem;
    width: 14rem;
    padding: 0.2rem;
    /* border: 1px solid red; */
  }
  
  .image-box {
    height: 12rem;
    width: 14rem;
    /* border: 1px solid red; */
  }
  .image {
    height: 11.85rem;
    width: 14rem;
  }


  .cards-detail {
    margin-top: 0.2rem; 
    width: 100%;
    /* border: 1px solid greenyellow; */
  }
  .name-box {
    font-size: 1.1rem;
    padding: 0.1rem 0rem;
    /* border: 1px solid rgb(41, 66, 3); */
  }
  
  .cuisine-box {
    font-size: 0.8rem;
    padding: 0.2rem 0rem;
    /* border: 1px solid rgb(30, 48, 2); */
  }

  
  .promotedText{
    position: absolute;
    margin-top: 0.8rem;
    margin-left: 0.8rem;
}

}
