
@media (min-width:260px) {
    
    .home-outer{
      /* border: 1px solid red; */
        }
        
        .home-intro-box{
         height:auto;
        width: 100%;
        flex-direction: column;
        flex-wrap:wrap-reverse;
        /* border: 1px solid green; */
        margin-top: 1rem;
        margin-bottom: 1rem;
        }
        
        .home-intro-text{
        height:auto;
        width: 90%;
        /* border: 1px solid red; */
    
        }
       
        .heading{
            padding: 0.2rem 0rem;
            text-align: justify;
        } 
       
        .title-tag{
            font-weight: 500;
            font-size: 1rem;
            padding: 0.3rem 0rem;
            text-align: justify;
    
        } 
         .title{
            font-size: 0.7rem;
            word-spacing: 1px;
            text-align: justify;
        } 
        .home-btn{

             margin: 0.8rem 0.2rem; 
             padding: 0.5rem 0.8rem; 
             font-size: 1rem;
         
        }
     
    
        .home-image-box{
            height: 40vh;
            width: 90vw;
            /* border: 1px solid rgb(187, 22, 22); */
            margin-bottom: 1rem;
        }
        
        .img-box{
            height: 40vh;
            width: 90vw;
            /* border: 1px solid red; */
    
        }
        
    
        /* hone Cards css */
        .home-Cards-box{
    
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            height:auto;
            width: 100%;
            padding: 0.5rem 0rem;
            /* border: 1px solid rgb(80, 2, 2);  */
            /* box-shadow:none; */
            /* flex-direction: column; */
            /* border: 1px solid red; */
        }
    }
    



@media (min-width:320px) {
    
    .home-outer{
      /* border: 1px solid red; */
        }
        
        .home-intro-box{
         height:auto;
        width: 100%;
        flex-direction: column;
        flex-wrap:wrap-reverse;
        /* border: 1px solid green; */
        margin-top: 1rem;
        margin-bottom: 1rem;
        }
        
        .home-intro-text{
        height:auto;
        width: 90%;
        /* border: 1px solid red; */
    
        }
       
        .heading{
            padding: 0.2rem 0rem;
            text-align: justify;
        } 
       
        .title-tag{
            font-weight: 500;
            font-size: 1rem;
            padding: 0.3rem 0rem;
            text-align: justify;
    
        } 
         .title{
            font-size: 0.7rem;
            word-spacing: 1px;
            text-align: justify;
        } 
        .home-btn{

             margin: 0.8rem 0.2rem; 
             padding: 0.5rem 0.8rem; 
             font-size: 1rem;
         
        }
     
    
        .home-image-box{
            height: 40vh;
            width: 90vw;
            /* border: 1px solid rgb(187, 22, 22); */
            margin-bottom: 1rem;
        }
        
        .img-box{
            height: 40vh;
            width: 90vw;
            /* border: 1px solid red; */
    
        }
        
    
        /* hone Cards css */
        .home-Cards-box{
    
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            height:auto;
            width: 100%;
            padding: 0.5rem 0rem;
            /* border: 1px solid rgb(80, 2, 2);  */
            /* box-shadow:none; */
            /* flex-direction: column; */
            /* border: 1px solid red; */
        }
    }
@media (min-width:540px) {
    
    .home-outer{
      /* border: 1px solid red; */
        }
        
        .home-intro-box{
         height:auto;
        width: 100%;
        flex-direction: column;
        flex-wrap:wrap-reverse;
        /* border: 1px solid green; */
        margin-top: 1rem;
        margin-bottom: 1rem;
        }
        
        .home-intro-text{
        height:auto;
        width: 90%;
        /* border: 1px solid red; */
    
        }
       
        .heading{
            padding: 0.2rem 0rem;
            text-align: justify;
        } 
       
        .title-tag{
            font-weight: 500;
            font-size: 1rem;
            padding: 0.3rem 0rem;
            text-align: justify;
    
        } 
         .title{
            font-size: 0.7rem;
            word-spacing: 1px;
            text-align: justify;
        } 
        .home-btn{

             margin: 0.8rem 0.2rem; 
             padding: 0.5rem 0.8rem; 
             font-size: 1rem;
         
        }
     
    
        .home-image-box{
            height: 40vh;
            width: 90vw;
            /* border: 1px solid rgb(187, 22, 22); */
            margin-bottom: 1rem;
        }
        
        .img-box{
            height: 40vh;
            width: 80vw;
            /* border: 1px solid red; */
    
        }
        
    
        /* hone Cards css */
        .home-Cards-box{
    
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            height:auto;
            width: 100%;
            padding: 0.5rem 0rem;
            /* border: 1px solid rgb(80, 2, 2);  */
            /* box-shadow:none; */
            /* flex-direction: column; */
            /* border: 1px solid red; */
        }
    }
@media (min-width:620px) {
    
    .home-outer{
      /* border: 1px solid red; */
        }
        
        .home-intro-box{
         height:auto;
        width: 100%;
        flex-direction: column;
        flex-wrap:wrap-reverse;
        /* border: 1px solid green; */
        margin-top: 1rem;
        margin-bottom: 1rem;
        }
        
        .home-intro-text{
        height:auto;
        width: 90%;
        /* border: 1px solid red; */
    
        }
       
        .heading{
            padding: 0.2rem 0rem;
            text-align: justify;
        } 
       
        .title-tag{
            font-weight: 500;
            font-size: 1rem;
            padding: 0.3rem 0rem;
            text-align: justify;
    
        } 
         .title{
            font-size: 0.7rem;
            word-spacing: 1px;
            text-align: justify;
        } 
        .home-btn{

             margin: 0.8rem 0.2rem; 
             padding: 0.5rem 0.8rem; 
             font-size: 1rem;
         
        }
     
    
        .home-image-box{
            height: 40vh;
            width: 90vw;
            /* border: 1px solid rgb(187, 22, 22); */
            margin-bottom: 1rem;
        }
        
        .img-box{
            height: 40vh;
            width: 70vw;
            /* border: 1px solid red; */
    
        }
        
    
        /* hone Cards css */
        .home-Cards-box{
    
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            height:auto;
            width: 100%;
            padding: 0.5rem 0rem;
            /* border: 1px solid rgb(80, 2, 2);  */
            /* box-shadow:none; */
            /* flex-direction: column; */
            /* border: 1px solid red; */
        }
    }
@media (min-width:720px) {
    
    .home-outer{
      /* border: 1px solid red; */
        }
        
        .home-intro-box{
         height:auto;
        width: 100%;
        flex-direction: column;
        flex-wrap:wrap-reverse;
        /* border: 1px solid green; */
        margin-top: 1rem;
        margin-bottom: 1rem;
        }
        
        .home-intro-text{
        height:auto;
        width: 90%;
        /* border: 1px solid red; */
    
        }
       
        .heading{
            padding: 0.2rem 0rem;
            text-align: justify;
        } 
       
        .title-tag{
            font-weight: 500;
            font-size: 1rem;
            padding: 0.3rem 0rem;
            text-align: justify;
    
        } 
         .title{
            font-size: 0.7rem;
            word-spacing: 1px;
            text-align: justify;
        } 
        .home-btn{

             margin: 0.8rem 0.2rem; 
             padding: 0.5rem 0.8rem; 
             font-size: 1rem;
         
        }
     
    
        .home-image-box{
            height: 40vh;
            width: 90vw;
            /* border: 1px solid rgb(187, 22, 22); */
            margin-bottom: 1rem;
        }
        
        .img-box{
            height: 40vh;
            width: 60vw;
            /* border: 1px solid red; */
    
        }
        
    
        /* hone Cards css */
        .home-Cards-box{
    
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            height:auto;
            width: 100%;
            padding: 0.5rem 0rem;
            /* border: 1px solid rgb(80, 2, 2);  */
            /* box-shadow:none; */
            /* flex-direction: column; */
            /* border: 1px solid red; */
        }
    }
@media (min-width:764px) {
    
    .home-outer{
      /* border: 1px solid red; */
        }
        
        .home-intro-box{
         height:auto;
        width: 90%;
        flex-direction: row;
        flex-wrap:nowrap;
        /* border: 1px solid rgb(3, 39, 3); */
        margin-top: 1rem;
        margin-bottom: 1rem;
        }
        
        .home-intro-text{
        height:auto;
        width: 60%;
        /* border: 1px solid rgb(30, 255, 0); */
    
        }
       
        .heading{
            padding: 0.2rem 0rem;
            text-align: justify;
        } 
       
        .title-tag{
            font-weight: 500;
            font-size: 1rem;
            padding: 0.3rem 0rem;
            text-align: justify;
    
        } 
         .title{
            font-size: 0.7rem;
            word-spacing: 1px;
            text-align: justify;
        } 
        .home-btn{

             margin: 0.8rem 0.2rem; 
             padding: 0.5rem 0.8rem; 
             font-size: 1rem;
         
        }
     
    
        .home-image-box{
            height: 25vh;
            width: 25vw;
            /* border: 1px solid rgb(204, 184, 184); */
            margin-bottom: 1rem;
        }
        
        .img-box{
            height: 25vh;
            width: 25vw;
            /* border: 1px solid red; */
    
        }
        
    
        /* hone Cards css */
        .home-Cards-box{
    
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            height:auto;
            width: 90%;
            padding: 0.5rem 0.5rem;
            /* border: 1px solid rgb(80, 2, 2);  */
            /* box-shadow:none; */
            /* flex-direction: column; */
            /* border: 1px solid red; */
        }
    }
    
@media (min-width:900px) {
    
    .home-outer{
      /* border: 1px solid red; */
        }
        
        .home-intro-box{
         height:auto;
        width: 85%;
        flex-direction: row;
        flex-wrap:nowrap;
        /* border: 1px solid rgb(3, 39, 3); */
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        }
        
        .home-intro-text{
        height:auto;
        width: 60%;
        /* border: 1px solid rgb(30, 255, 0); */
    
        }
       
        .heading{
            padding: 0.2rem 0rem;
            text-align: justify;
        } 
       
        .title-tag{
            font-weight: 500;
            font-size: 1rem;
            padding: 0.3rem 0rem;
            text-align: justify;
    
        } 
         .title{
            font-size: 0.7rem;
            word-spacing: 1px;
            text-align: justify;
        } 
        .home-btn{

             margin: 0.8rem 0.2rem; 
             padding: 0.5rem 0.8rem; 
             font-size: 1rem;
         
        }
     
    
        .home-image-box{
            height: 25vh;
            width: 25vw;
            /* border: 1px solid rgb(204, 184, 184); */
            margin-bottom: 1rem;
        }
        
        .img-box{
            height: 25vh;
            width: 25vw;
            /* border: 1px solid red; */
    
        }
        
    
        /* hone Cards css */
        .home-Cards-box{
    
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            height:auto;
            width: 85%;
            padding: 0.5rem 0.5rem;
            /* border: 1px solid rgb(80, 2, 2);  */
            /* box-shadow:none; */
            /* flex-direction: column; */
            /* border: 1px solid red; */
        }
    }
@media (min-width:1024px) {
    
    .home-outer{
      /* border: 1px solid red; */
        }
        
        .home-intro-box{
         height:auto;
        width: 80%;
        flex-direction: row;
        flex-wrap:nowrap;
        /* border: 1px solid rgb(3, 39, 3); */
        margin-top: 1rem;
        margin-bottom: 1rem;
        }
        
        .home-intro-text{
        height:auto;
        width: 60%;
        /* border: 1px solid rgb(30, 255, 0); */
    
        }
       
        .heading{
            padding: 0.2rem 0rem;
            text-align: justify;
        } 
       
        .title-tag{
            font-weight: 500;
            font-size: 1rem;
            padding: 0.3rem 0rem;
            text-align: justify;
    
        } 
         .title{
            font-size: 0.7rem;
            word-spacing: 1px;
            text-align: justify;
        } 
        .home-btn{

             margin: 0.8rem 0.2rem; 
             padding: 0.5rem 0.8rem; 
             font-size: 1rem;
         
        }
     
    
        .home-image-box{
            height: 25vh;
            width: 25vw;
            /* border: 1px solid rgb(204, 184, 184); */
            margin-bottom: 1rem;
        }
        
        .img-box{
            height: 25vh;
            width: 25vw;
            /* border: 1px solid red; */
    
        }
        
    
        /* hone Cards css */
        .home-Cards-box{
    
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            height:auto;
            width: 80%;
            padding: 0.5rem 0.5rem;
            /* border: 1px solid rgb(80, 2, 2);  */
            /* box-shadow:none; */
            /* flex-direction: column; */
            /* border: 1px solid red; */
        }
    }
@media (min-width:1050px) {
    
    .home-outer{
      /* border: 1px solid red; */
        }
        
        .home-intro-box{
         height:auto;
        width: 70%;
        flex-direction: row;
        flex-wrap:nowrap;
        /* border: 1px solid rgb(3, 39, 3); */
        padding: 0.2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        }
        
        .home-intro-text{
        height:auto;
        width: 60%;
        padding: 0.5rem;
        /* border: 1px solid rgb(30, 255, 0); */
    
        }
       
        .heading{
            padding: 0.2rem 0rem;
            text-align: justify;
        } 
       
        .title-tag{
            font-weight: 500;
            font-size: 1rem;
            padding: 0.3rem 0rem;
            text-align: justify;
    
        } 
         .title{
            font-size: 0.7rem;
            word-spacing: 1px;
            text-align: justify;
        } 
        .home-btn{

             margin: 0.8rem 0.2rem; 
             padding: 0.5rem 0.8rem; 
             font-size: 1rem;
         
        }
     
    
        .home-image-box{
            height: 25vh;
            width: 25vw;
            /* border: 1px solid rgb(204, 184, 184); */
            margin-bottom: 1rem;
        }
        
        .img-box{
            height: 25vh;
            width: 25vw;
            /* border: 1px solid red; */
    
        }
        
    
        /* hone Cards css */
        .home-Cards-box{
    
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            height:auto;
            width: 70%;
            padding: 0.5rem 0.5rem;
            /* border: 1px solid rgb(80, 2, 2);  */
            /* box-shadow:none; */
            /* flex-direction: column; */
            /* border: 1px solid red; */
        }
    }
@media (min-width:1275px) {
    
    .home-outer{
      /* border: 1px solid red; */
        }
        
        .home-intro-box{
         height:auto;
        width: 65%;
        flex-direction: row;
        flex-wrap:nowrap;
        /* border: 1px solid rgb(3, 39, 3); */
        padding: 2rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        }
        
        .home-intro-text{
        height:auto;
        width: 60%;
        padding: 0.8rem;
        /* border: 1px solid rgb(30, 255, 0); */
    
        }
       
        .heading{
            padding: 0.2rem 0rem;
            text-align: justify;
        } 
       
        .title-tag{
            font-weight: 500;
            font-size: 1.2rem;
            padding: 0.3rem 0rem;
            text-align: justify;
    
        } 
         .title{
            font-size: 1rem;
            word-spacing: 1px;
            text-align: justify;
        } 
        .home-btn{

             margin: 0.8rem 0.2rem; 
             padding: 0.5rem 0.8rem; 
             font-size: 1.2rem;
         
        }
     
    
        .home-image-box{
            height: 32vh;
            width: 25vw;
            /* border: 1px solid rgb(204, 184, 184); */
            margin-bottom: 1rem;
        }
        
        .img-box{
            height: 32vh;
            width: 25vw;
            /* border: 1px solid red; */
    
        }
        
    
        /* hone Cards css */
        .home-Cards-box{
    
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            height:auto;
            width: 65%;
            padding: 2rem 2rem;
            /* border: 1px solid rgb(80, 2, 2);  */
            /* box-shadow:none; */
            /* flex-direction: column; */
            /* border: 1px solid red; */
        }
    }
    

    