
@media (min-width:260px) {
    
    .home-outer{
        height: auto;
        width: 100%;
        /* align-items: center; */
        border:none;
     
    
        }
        
        .home-intro-box{
            background-color: white;
            height:auto;
        width: 100%;
        margin-top: 0rem;
        margin-bottom: 1rem;
        flex-direction: column;
        flex-wrap:wrap-reverse;
        justify-content: space-around;
        /* border: 1px solid red; */
        box-shadow: none;
    
        }
        
        .home-intro-text{
            height:auto;
            width: 100%;
            padding: 0.8rem ;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        /* border: 1px solid red; */
    
        }
        
        .heading{
            padding: 0.5rem 1rem;
            text-align: justify;
        }
        
        .title-tag{
            font-weight: 500;
            font-size: 1rem;
            padding: 0.3rem 0rem;
            text-align: justify;
    
        }
        .title{
            font-size: 0.9rem;
            word-spacing: 1px;
            text-align: justify;
        }
        .home-btn{
            /* color: red; */
            margin-top: 0.8rem;
            padding: 0.5rem 0.8rem;
            font-size: 1.1rem;
         
        }
     
    
        .home-image-box{
            height: 40vh;
            width: 90vw;
            /* border: 1px solid rgb(187, 22, 22); */
            margin-bottom: 1rem;
        }
        
        .img-box{
            height: 40vh;
            width: 90vw;
            /* border: 1px solid red; */
    
        }
        
    
        /* hone Cards css */
        .home-Cards-box{
    
            margin-top: 1rem;
            margin-bottom: 1rem;
            height:auto;
            width: 100%;
            /* border: 1px solid rgb(80, 2, 2);  */
            box-shadow:none;
            flex-direction: column;
            /* border: 1px solid red; */
        }
    }
    
    @media (min-width:320px) {
        .home-intro-box{
            background-color: white;
            height:auto;
        width: 100%;
        margin-top: 0rem;
        margin-bottom: 1rem;
        flex-direction: column;
        flex-wrap:wrap-reverse;
        justify-content: space-around;
        /* border: 1px solid red; */
      
    
        }
        
        .home-intro-text{
            height:auto;
            width: 100%;
            padding: 0.8rem ;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 2rem 1rem;
        /* border: 1px solid red; */
    
        }
        
        .heading{
            padding: 0.5rem 1rem;
            text-align: justify;
        }
        
        .title-tag{
            font-weight: 500;
            font-size: 1rem;
            padding: 0.3rem 0rem;
            text-align: justify;
    
        }
        .title{
            font-size: 0.9rem;
            word-spacing: 1px;
            text-align: justify;
        }
        .home-btn{
            /* color: red; */
            margin-top: 0.8rem;
            padding: 0.5rem 0.8rem;
            font-size: 1.1rem;
         
        }
     
    
        .home-image-box{
            height: 40vh;
            width: 90vw;
            /* border: 1px solid rgb(187, 22, 22); */
            margin-bottom: 1rem;
        }
        
        .img-box{
            height: 40vh;
            width: 90vw;
            /* border: 1px solid red; */
    
        }
        
    
        /* hone Cards css */
        .home-Cards-box{
    
            margin-top: 1rem;
            margin-bottom: 1rem;
            height:auto;
            width: 100%;
            /* border: 1px solid rgb(80, 2, 2);  */
            box-shadow:none;
            flex-direction: column;
            /* border: 1px solid red; */
        }
    }
    @media (min-width:375px) {
        .home-intro-box{
            background-color: white;
            height:auto;
        width: 100%;
        margin-top: 0rem;
        margin-bottom: 1rem;
        flex-direction: column;
        flex-wrap:wrap-reverse;
        justify-content: space-around;
        /* border: 1px solid red; */
      
    
        }
        
        .home-intro-text{
            height:auto;
            width: 100%;
            padding: 0.8rem ;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 1rem ;
        /* border: 1px solid red; */
    
        }
        
        .heading{
            padding: 0.5rem 1rem;
            text-align: justify;
        }
        
        .title-tag{
            font-weight: 500;
            font-size: 1rem;
            padding: 0.3rem 0rem;
            text-align: center;
    
        }
        .title{
            font-size: 0.9rem;
            word-spacing: 1px;
            text-align: justify;
        }
        .home-btn{
            /* color: red; */
            margin-top: 0.8rem;
            padding: 0.5rem 0.8rem;
            font-size: 1.1rem;
         
        }
     
    
        .home-image-box{
            height: 40vh;
            width: 90vw;
            /* border: 1px solid rgb(187, 22, 22); */
            margin-bottom: 1rem;
        }
        
        .img-box{
            height: 40vh;
            width: 90vw;
            /* border: 1px solid red; */
    
        }
        
    
        /* hone Cards css */
        .home-Cards-box{
    
            margin-top: 1rem;
            margin-bottom: 1rem;
            height:auto;
            width: 100%;
            /* border: 1px solid rgb(80, 2, 2);  */
            box-shadow:none;
            flex-direction: column;
            /* border: 1px solid red; */
        }
    }
    @media (min-width:412px) {
        .home-intro-box{
            background-color: white;
            height:auto;
        width: 100%;
        margin-top: 0rem;
        margin-bottom: 1rem;
        flex-direction: column;
        flex-wrap:wrap-reverse;
        justify-content: space-around;
        padding: 1rem;
        /* border: 1px solid red; */
      
    
        }
        
        .home-intro-text{
            height:auto;
            width: 100%;
            padding: 0.8rem ;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 2rem 0rem;
        /* border: 1px solid red; */
    
        }
        
        .heading{
            padding: 0.5rem 1rem;
            text-align: justify;
        }
        
        .title-tag{
            font-weight: 500;
            font-size: 1rem;
            padding: 0.3rem 0rem;
            text-align: justify;
    
        }
        .title{
            font-size: 0.9rem;
            word-spacing: 1px;
            text-align: justify;
        }
        .home-btn{
            /* color: red; */
            margin-top: 0.8rem;
            padding: 0.5rem 0.8rem;
            font-size: 1.1rem;
         
        }
     
    
        .home-image-box{
            height: 40vh;
            width: 90vw;
            /* border: 1px solid rgb(187, 22, 22); */
            margin-bottom: 1rem;
        }
        
        .img-box{
            height: 40vh;
            width: 90vw;
            /* border: 1px solid red; */
    
        }
        
    
        /* hone Cards css */
        .home-Cards-box{
    
            margin-top: 1rem;
            margin-bottom: 1rem;
            height:auto;
            width: 100%;
            /* border: 1px solid rgb(80, 2, 2);  */
            box-shadow:none;
            flex-direction: column;
            /* border: 1px solid red; */
        }
    }
    
    @media (min-width: 481px) {
        .home-intro-box{
            background-color: white;
            height:auto;
        width: 100%;
        margin-top: 0rem;
        margin-bottom: 1rem;
        flex-direction: column;
        flex-wrap:wrap-reverse;
        justify-content: space-around;
        /* border: 1px solid red; */
        box-shadow: none;
    
        }
        
        .home-intro-text{
            height:auto;
            width: 100%;
            padding: 0.8rem ;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        /* border: 1px solid red; */
    
        }
        
        .heading{
            padding: 0.5rem 1rem;
            text-align: justify;
        }
        
        .title-tag{
            font-weight: 500;
            font-size: 1rem;
            padding: 0.3rem 0rem;
            text-align: justify;
    
        }
        .title{
            font-size: 0.9rem;
            word-spacing: 1px;
            text-align: justify;
        }
        .home-btn{
            /* color: red; */
            margin-top: 0.8rem;
            padding: 0.5rem 0.8rem;
            font-size: 1.1rem;
         
        }
     
    
        .home-image-box{
            height: 40vh;
            width: 90vw;
            /* border: 1px solid rgb(187, 22, 22); */
            margin-bottom: 1rem;
        }
        
        .img-box{
            height: 40vh;
            width: 90vw;
            /* border: 1px solid red; */
    
        }
        
    
        /* hone Cards css */
        .home-Cards-box{
    
            margin-top: 1rem;
            margin-bottom: 1rem;
            height:auto;
            width: 100%;
            padding: 2rem 0rem;
            /* border: 1px solid rgb(80, 2, 2);  */
            box-shadow:none;
            flex-direction: column;
            /* border: 1px solid red; */
        }
    }
    @media (min-width: 540px) {
        .home-intro-box{
            background-color: white;
            height:auto;
        width: 100%;
        margin-top: 0rem;
        margin-bottom: 1rem;
        flex-direction: column;
        flex-wrap:wrap-reverse;
        justify-content: space-around;
        /* border: 1px solid red; */
        box-shadow: none;
    
        }
        
        .home-intro-text{
            height:auto;
            width: 100%;
            padding: 1rem ;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        /* border: 1px solid red; */
    
        }
        
        .heading{
            padding: 0.5rem 1rem;
            text-align: justify;
        }
        
        .title-tag{
            font-weight: 500;
            font-size: 1rem;
            padding: 0.3rem 0rem;
            text-align: justify;
    
        }
        .title{
            font-size: 0.9rem;
            word-spacing: 1px;
            text-align: justify;
            padding: 0.5rem;
        }
        .home-btn{
            /* color: red; */
            margin-top: 0.8rem;
            padding: 0.5rem 0.8rem;
            font-size: 1.3rem;
         
        }
     
    
        .home-image-box{
            height: 40vh;
            width: 70vw;
            /* border: 1px solid rgb(187, 22, 22); */
            margin-bottom: 1rem;
        }
        
        .img-box{
            height: 40vh;
            width: 70vw;
            /* border: 1px solid red; */
    
        }
        
    
        /* hone Cards css */
        .home-Cards-box{
    
            margin-top: 1rem;
            margin-bottom: 1rem;
            height:auto;
            width: 100%;
            /* border: 1px solid rgb(80, 2, 2);  */
            box-shadow:none;
            flex-direction: row;
            /* border: 1px solid red; */
        }
    }
    @media (min-width: 700px) {
        .home-intro-box{
            background-color: white;
            height:auto;
        width: 80%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        flex-direction: column;
        flex-wrap:wrap-reverse;
        justify-content: space-around;
        /* border: 1px solid red; */
        box-shadow: none;
    
        }
        
        .home-intro-text{
            height:auto;
            width: 100%;
            padding: 1rem ;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        /* border: 1px solid red; */
    
        }
        
        .heading{
            padding: 0.5rem 1rem;
            text-align: justify;
        }
        
        .title-tag{
            font-weight: 500;
            font-size: 1rem;
            padding: 0.3rem 0rem;
            text-align: justify;
    
        }
        .title{
            font-size: 0.9rem;
            word-spacing: 1px;
            text-align: justify;
            padding: 0.5rem;
        }
        .home-btn{
            /* color: red; */
            margin-top: 0.8rem;
            padding: 0.5rem 0.8rem;
            font-size: 1.3rem;
         
        }
     
    
        .home-image-box{
            height: 40vh;
            width: 70vw;
            /* border: 1px solid rgb(187, 22, 22); */
            margin-bottom: 1rem;
        }
        
        .img-box{
            height: 40vh;
            width: 70vw;
            /* border: 1px solid red; */
    
        }
        
    
        /* hone Cards css */
        .home-Cards-box{
    
            margin-top: 1rem;
            margin-bottom: 1rem;
            height:auto;
            width: 80%;
            padding: 1rem;
            /* border: 1px solid rgb(80, 2, 2);  */
            box-shadow:none;
            flex-direction: row;
            /* border: 1px solid red; */
        }
    }
    
    @media (min-width: 769px) {
        .home-intro-box{
            background-color: white;
            height:auto;
        width: 80%;
        margin-top: 2rem;
        margin-bottom: 1rem;
        flex-direction: column;
        flex-wrap:wrap-reverse;
        justify-content: space-around;
        /* border: 1px solid red; */
        box-shadow: none;
    
        }
        
        .home-intro-text{
            height:auto;
            width: 100%;
            padding: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        /* border: 1px solid red; */
    
        }
        
        .heading{
            padding: 0.5rem 1rem;
            text-align: justify;
        }
        
        .title-tag{
            font-weight: 500;
            font-size: 1rem;
            padding: 0.3rem 0rem;
            text-align: justify;
    
        }
        .title{
            font-size: 0.9rem;
            word-spacing: 1px;
            text-align: justify;
        }
        .home-btn{
            /* color: red; */
            margin-top: 0.8rem;
            padding: 0.5rem 0.8rem;
            font-size: 1.1rem;
         
        }
     
    
        .home-image-box{
            height: 40vh;
            width: 60vw;
            /* border: 1px solid rgb(187, 22, 22); */
            margin-bottom: 1rem;
        }
        
        .img-box{
            height: 40vh;
            width: 60vw;
            /* border: 1px solid red; */
    
        }
        
        
        
        /* hone Cards css */
        .home-Cards-box{
    
            margin-top: 1rem;
            margin-bottom: 1rem;
            height:auto;
            width: 80%;
            padding: 1rem 0rem;
            /* border: 1px solid rgb(80, 2, 2);  */
            box-shadow:none;
            flex-direction: row;
            /* border: 1px solid red; */
        }
    }
    @media (min-width: 964px) {
        .home-intro-box{
            background-color: white;
            height:auto;
        width: 80%;
        margin-top: 2rem;
        margin-bottom: 1rem;
        flex-direction: column;
        flex-wrap:wrap-reverse;
        justify-content: space-around;
        /* border: 1px solid red; */
        box-shadow: none;
    
        }
        
        .home-intro-text{
            height:auto;
            width: 100%;
            padding: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        /* border: 1px solid red; */
    
        }
        
        .heading{
            padding: 0.5rem 1rem;
            text-align: justify;
        }
        
        .title-tag{
            font-weight: 500;
            font-size: 1rem;
            padding: 0.3rem 0rem;
            text-align: justify;
    
        }
        .title{
            font-size: 0.9rem;
            word-spacing: 1px;
            text-align: justify;
        }
        .home-btn{
            /* color: red; */
            margin-top: 0.8rem;
            padding: 0.5rem 0.8rem;
            font-size: 1.1rem;
         
        }
     
    
        .home-image-box{
            height: 60vh;
            width: 40vw;
            /* border: 1px solid rgb(187, 22, 22); */
            margin-bottom: 1rem;
        }
        
        .img-box{
            height: 60vh;
            width: 40vw;
            /* border: 1px solid red; */
    
        }
        
        
        
        /* hone Cards css */
        .home-Cards-box{
    
            margin-top: 1rem;
            margin-bottom: 1rem;
            height:auto;
            width: 80%;
            padding: 1rem 0rem;
            /* border: 1px solid rgb(80, 2, 2);  */
            box-shadow:none;
            flex-direction: row;
            /* border: 1px solid red; */
        }
    }
    
    @media (min-width: 1024px) {
        .home-intro-box{
            background-color: white;
            height:auto;
        width: 80%;
        margin-top: 2rem;
        margin-bottom: 1rem;
        flex-direction: column;
        flex-wrap:wrap-reverse;
        justify-content: space-around;
        /* border: 1px solid red; */
        box-shadow: none;
    
        }
        
        .home-intro-text{
            height:auto;
            width: 100%;
            padding: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        /* border: 1px solid red; */
    
        }
        
        .heading{
            padding: 0.5rem 1rem;
            text-align: justify;
        }
        
        .title-tag{
            font-weight: 500;
            font-size: 1.2rem;
            padding: 0.3rem 0rem;
            text-align: justify;
    
        }
        .title{
            font-size: 0.9rem;
            word-spacing: 1px;
            text-align: justify;
        }
        .home-btn{
            /* color: red; */
            margin-top: 0.8rem;
            padding: 0.5rem 0.8rem;
            font-size: 1.2rem;
         
        }
     
    
        .home-image-box{
            height: 50vh;
            width: 60vw;
            /* border: 1px solid rgb(187, 22, 22); */
            margin-bottom: 1rem;
        }
        
        .img-box{
            height: 50vh;
            width: 60vw;
            /* border: 1px solid red; */
    
        }
        
        
        
        /* hone Cards css */
        .home-Cards-box{
    
            margin-top: 1rem;
            margin-bottom: 1rem;
            height:auto;
            width: 80%;
            padding: 1rem 0rem;
            /* border: 1px solid rgb(80, 2, 2);  */
            box-shadow:none;
            flex-direction: row;
            /* border: 1px solid red; */
        }
    }
    @media (min-width: 1025px) {
        .home-intro-box{
            background-color: white;
            height:auto;
        width: 80%;
        margin-top: 2rem;
        margin-bottom: 1rem;
        flex-direction: column;
        flex-wrap:wrap-reverse;
        justify-content: space-around;
        /* border: 1px solid red; */
        box-shadow: none;
    
        }
        
        .home-intro-text{
            height:auto;
            width: 100%;
            padding: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        /* border: 1px solid red; */
    
        }
        
        .heading{
            padding: 0.5rem 1rem;
            text-align: justify;
        }
        
        .title-tag{
            font-weight: 500;
            font-size: 1.2rem;
            padding: 0.3rem 0rem;
            text-align: justify;
    
        }
        .title{
            font-size: 0.9rem;
            word-spacing: 1px;
            text-align: justify;
        }
        .home-btn{
            /* color: red; */
            margin-top: 0.8rem;
            padding: 0.5rem 0.8rem;
            font-size: 1.2rem;
         
        }
     
    
        .home-image-box{
            height: 50vh;
            width: 60vw;
            /* border: 1px solid rgb(187, 22, 22); */
            margin-bottom: 1rem;
        }
        
        .img-box{
            height: 50vh;
            width: 60vw;
            /* border: 1px solid red; */
    
        }
        
        
        
        /* hone Cards css */
        .home-Cards-box{
    
            margin-top: 1rem;
            margin-bottom: 1rem;
            height:auto;
            width: 80%;
            padding: 1rem 0rem;
            /* border: 1px solid rgb(80, 2, 2);  */
            box-shadow:none;
            flex-direction: row;
            /* border: 1px solid red; */
        }
    }
    
    @media (min-width:1201px) {
        
        .home-outer{
            height: auto;
            width: 99vw;
            /* align-items: center; */
            /* border: 1px solid red; */
        
            }
    
        .home-intro-box{
            background-color: white;
            height:auto;
        width: 70%;
        margin-top: 4rem;
        margin-bottom: 1rem;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: space-around;
        /* border: 1px solid red; */
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        padding: 2rem 0rem;
    
        }
        
        .home-intro-text{
            height:auto;
            width: 50%;
            padding: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        /* border: 1px solid red; */
    
        }
        
        .heading{
            font-size: 2rem;
            padding: 0.5rem 1rem;
            text-align: justify;
        }
        
        .title-tag{
            font-weight: 500;
            font-size: 1.2rem;
            padding: 0.3rem 0rem;
            text-align:center;
    
        }
        .title{
            font-size: 0.9rem;
            word-spacing: 1px;
            text-align: justify;
        }
        .home-btn{
            /* color: red; */
            margin-top: 0.8rem;
            padding: 0.5rem 0.8rem;
            font-size: 1.4rem;
         
        }
     
    
        .home-image-box{
            height: 42vh;
            width: 28vw;
            /* border: 1px solid rgb(187, 22, 22); */
            margin-bottom: 1rem;
        }
        
        .img-box{
            height: 42vh;
            width: 28vw;
            /* border: 1px solid red; */
    
        }
        
        
        
        /* hone Cards css */
        .home-Cards-box{
    
            margin-top: 2rem;
            margin-bottom: 2rem;
            height:auto;
            width: 70%;
            padding: 2rem 1rem;
            /* border: 1px solid rgb(80, 2, 2);  */
            box-shadow:none;
            flex-direction: row;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            /* border: 1px solid red; */
        }
    }
    
    @media (min-width: 1220px) {
        
        .home-outer{
            border: none; 
        }
     
        }
    