
@media (min-width:260px) {
    

    .card-outer{
        height: 11rem;
        /* border: 1px solid red; */
        margin: 0.5rem 0.2rem;
    }
    
    .card-outer:hover{
        transform: none
    }
    
    
    .card-img{
        height: 8rem;
        width: 12rem;
    }
    }
    
    @media (min-width:320px) {
          

    .card-outer{
        height: 11rem;
        /* border: 1px solid red; */
        margin: 0.5rem 0.2rem;
    }
    
    .card-outer:hover{
        transform: none
    }
    
    
    .card-img{
        height: 8rem;
        width: 12rem;
    }
    }
    
    @media (min-width: 610px) {
        
    .card-outer{
        height: 12.5rem;
        /* border: 1px solid red; */
        margin: 0.5rem 0.2rem;
    }
    
    .card-outer:hover{
        transform: none
    }
    
    
    .card-img{
        height: 10rem;
        width: 14rem;
    }
    }
    
    @media (min-width: 700px) {
        .card-outer{
            height: 13.5rem;
            /* border: 1px solid red; */
            margin: 0.5rem 0.4rem;
        }
        
        .card-outer:hover{
            transform: none
        }
        
        
        .card-img{
            height: 11rem;
            width: 15rem;
        }
   

    }
    @media (min-width: 857px) {
        .card-outer{
            height: 13.5rem;
            /* border: 1px solid red; */
            margin: 0.6rem;
        }
        
        .card-outer:hover{
            transform: none
        }
        
        
        .card-img{
            height: 11rem;
            width: 15rem;
        }
   

    }
    @media (min-width: 881px) {
        .card-outer{
            height: 12.5rem;
            /* border: 1px solid red; */
            margin: 0.8rem 0.3rem;
        }
        
        .card-outer:hover{
            transform: none
        }
        
        
        .card-img{
            height: 10rem;
            width: 11rem;
        }
   

    }
    @media (min-width: 1275px) {
        .card-outer{
            height: 14rem;
            /* border: 1px solid red; */
            margin: 0.8rem 0.2rem;
        }
        
        .card-outer:hover{
            transform: none
        }
        
        
        .card-img{
            height: 11rem;
            width: 12rem;
        }
   

    }
    @media (min-width: 964px) {
        
    
  
    
    }
    @media (min-width: 1024px) {
        
 
  
   
    }
    
    @media (min-width: 1025px) {
    }
    
    @media (min-width: 1201px) {
        
    
       
        }
    
    
    @media (min-width: 1220px) {
        
      
        }
