
@media (min-width:260px) {
    
    .menu-outer{
        width: 100%;
        height: auto;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: ; */
    }
    
    .menu-heading{
        width: 100%;
        /* border: 1px solid red; */
    
    }
    
    .menu-inner{
        width: 100%;
        /* border: 1px solid rgb(61, 19, 19); */
        padding: 0.3rem;
    
    }
    
    .MenuHeadImg{
        height: 10rem;
    }
    
    .accordionContainor{
        width: 100%;
        /* border: 1px solid rgb(17, 243, 47); */
       
        
    }
    
    .accordion_header{
        width: 95%;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
        /* border: 1px solid rgb(54, 173, 253); */
    }
    
    .accordionBody{
        width: 95%;
        /* border : 1px solid orange; */
    }
    }
    
    @media (min-width:320px) {
    
        .accordion_header{
            width: 95%;
            padding: 0.5rem 1rem;
            font-size: 0.9rem;
            /* border: 1px solid rgb(54, 173, 253); */
        }
        
    }
    
    @media (min-width: 481px) {
        
    }
    
    @media (min-width: 600px) {
    
        .accordion_header{
            width: 80%;
    
        }
    
        .accordionBody{
            width: 80%;
            /* border : 1px solid orange; */
        }
    }
    
    @media (min-width: 769px) {
        .accordion_header{
            width: 70%;
    
        }
    
        .accordionBody{
            width: 70%;
            /* border : 1px solid orange; */
        }
    }
    
    @media (min-width: 1025px) {
        .accordion_header{
            width: 70%;
    
        }
    
        .accordionBody{
            width: 70%;
            /* border : 1px solid orange; */
        }
      
    }
    
    @media (min-width: 1201px) {
        .accordion_header{
            width: 60%;
    
        }
    
        .accordionBody{
            width: 60%;
            /* border : 1px solid orange; */
        }
    }
    
    @media (min-width: 1500px) {
        .accordion_header{
            width: 60%;
            font-size: 1.5rem;
    
        }
    
        .accordionBody{
            width: 60%;
            /* border : 1px solid orange; */
        }
    }