
*{
    margin: 0;
    padding: 0;
}
.outer{
    margin: 1rem;
    height: auto;
    width: 20rem;
    padding: 0.5rem ;
    /* border: 1px solid rgb(187, 187, 187); */
    background-color: transparent;
    display: flex;
    flex-direction: column;
     align-items: center;
     justify-content: space-around;
}

.header{
    height: 12rem;
    width: 18rem;
    /* border: 1px solid rgb(247, 26, 26); */
  border-radius: 5px;
    background-color: rgb(214, 212, 212);

}

.main{
    margin-top: 0.5rem;
    height: 2rem;
    width: 18rem;
    /* border: 1px solid rgb(224, 20, 20); */
    border-radius: 5px;

    background-color: rgb(214, 212, 212);

}