

.outer-Shimmer{
    height: auto;
    width: 99vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */
    align-items: center;
    
}


.Shimmer-nav{
    background-color: rgb(233, 233, 233);
    height: 4rem;
    width: 70vw;
    /* border-bottom: 1px solid gray; */
}

.inner-Shimmer{
    padding-top: 1rem;
    height: auto;
    width: 70vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    /* background-color: rgb(233, 232, 232); */
    /* border: 1px solid red; */
}